 <footer class="footerStyled" id="footer" role="contentinfo">
            <ul class="footerul">
                <li class="footerli">
                	<a class="footerlink" href="https://campusexplorer.com/company/about/service/" rel="nofollow" tabIndex="0" title="About Campus Explorer">About Us</a></li>
                <li class="footerli">
                	<a class="footerlink" href="https://campusexplorer.com/company/press/news/" rel="nofollow" tabIndex="0" title="Campus Explorer press page">Press</a></li>
                <li class="footerli">
                	<a class="footerlink" href="https://campusexplorer.com/company/jobs/" rel="nofollow" tabIndex="0" title="Job Openings">Jobs</a></li>
                <li class="footerli">
                	<a class="footerlink" href="https://campusexplorer.com/company/legal/privacy/" rel="nofollow" tabIndex="0" title="Privacy Policy">Privacy Policy</a></li>
                <li class="footerli">
                	<a class="footerlink" href="https://campusexplorer.com/company/legal/privacy/#your-california-privacy-rights" rel="nofollow" tabIndex="0" title="California Privacy Rights">California Privacy Rights</a></li>
                <li class="footerli">
                	<a class="footerlink" href="https://campusexplorer.com/company/legal/terms/" rel="nofollow" tabIndex="0" title="Terms of Use">Terms of Use</a></li>
                <li class="footerli">
                	<a class="footerlink" href="https://campusexplorer.com/company/contact/" rel="nofollow" tabIndex="0" title="Contact Campus Explorer">Contact Us</a></li>
             </ul>
            <p class="footerp copyright">© 2018 Campus Explorer, Inc.</p>
    	</footer>
